.menu {
  background-color: #445cbc;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 30px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  color: #b5b5b5;
  transform: translateY(-2px);
}

.content {
  
}
