.category-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 40px;
}

button {
  padding: 10px 30px;
  border: none;
  background: #ff000d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: #b30000;
}
button.selected {
  background: #b30000;
}
