.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: start;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}